body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
.hero {
  background: #1f2937;
  padding: 0 80px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
}
ul {
  display: flex;
  list-style: none;
  gap: 15px;
}
a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
.secondary-text {
  color: #e5e7eb;
  font-size: 18px;
  margin-bottom: 18px;
}
.hero-content {
  display: flex;
  padding: 40px 0;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
.btn {
  background: #3882f6;
  border-radius: 5px;
  padding: 4px 12px;
}
.right img {
  width: 400px;
}
.information {
  padding: 10px 100px;
}
.info-header {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 10px 0;
}
.rock-info {
  display: flex;
  justify-content: center;
}
.rock-img {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  width: 160px;
}
.rock-img img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border: solid 4px #3882f6;
  border-radius: 8px;
}
.img-text {
  text-align: center;
  font-weight: 100;
  color: darkgray;
}
